@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-size: 400% 400%;
    animation: an-bg 10s infinite ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black
}

::-webkit-scrollbar-thumb {
    background-color: #833ab4;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: black;
}

@keyframes an-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}









/*  ---------------------------------- head ------------------------------------*/
.head {
    width: 100%;
    height: 700px;
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

#logo {
    width: 350px;
    border-radius: 50%;
}

.head_pagename {
    font-size: 80px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    line-height: 60px;
    text-shadow: white 0px 0px 1px;
}

.head_subname {
    font-size: 30px;
}

/*  ---------------------------------- menu ------------------------------------*/

.menu {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
}

.menu_title {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 80px;
    align-items: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    font-weight: 900;
}
nav>div{ 
    text-align: center;
    letter-spacing: 0.5px;
    transition: all 1s;
    flex-basis: 200px;
    cursor: pointer;
}
nav>div:hover {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

/*  ----------------------------------content ------------------------------------*/


.skill_subcon {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.skill_subcon>div {
    flex-basis: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    border-radius: 30px 0 30px 0;
    transition: all 1s;
}
.skill_subcon>div>a>img {
    max-width: 60%;
}

.skill_subcon>div>a {
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 20px;
}

.skill_subcon>div:hover{
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px 1px black;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoitem {
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    padding: 50px;
    border-radius: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    
}

.infoitem:hover {
    background-color: rgba(255, 255, 255, 0.172);
}



.infoitem>img {
    display: block;
    width: 500px;
    flex-grow: 1;
    margin: 0 20px;
    border-radius: 30px 0 30px 0;
}

.infoitem>span {
    display: block;
    flex-grow: 2;
    font-family: cursive;
    transition: all 0.5s;
}



.infotitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.contact {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px 0 30px 0;
    font-size: 40px;
    margin-bottom: 50px;
}

.contact>div>a {
    color: white;
    text-shadow: 5px 5px black;
    transition: all 0.5s;
}

.contact>.sitem1>a:hover {
    color: purple;
    text-shadow: 0 0 2px black
}
.contact>.sitem2>a:hover {
    color: blue;
    text-shadow: 0 0 2px black
}
.contact>.sitem3>a:hover {
    color: blue;
    text-shadow: 0 0 2px black
}
.contact>.sitem4>a:hover {
    color: black;
    text-shadow: none;
}
.contact>.sitem5>a:hover {
    color: red;
    text-shadow: 0 0 2px black
}

.container-swaper {
    max-width: 1000px;
    height: 400px;
    overflow-x: hidden;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}

#sc {
    display: flex;
    height: 100%;
    width: 4000px;
    position: relative;
    transition: left 0.5s;
}

.itema {
    width: 1000px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.i1 {
    background-image: url("https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Berchtesgaden_Desktop_1920x1080.jpg");
}

.i2 {
    background-image: url("https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_PragserWildsee_Desktop_1920x1080.jpg");
}

.i3 {
    background-image: url("https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Inntal_Desktop_1920x1080.jpg");
}

.i4 {
    background-image: url("https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_MMM_Museum_Desktop_1920x1080.jpg");

}

.ind {
    position: absolute;
    bottom: 20px;
    left: 43%;
    right: 43%;
    height: 20px;
    background-color: rgba(251, 250, 250, 0.239);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inde {
    flex-grow: 1;
    height: 15px;
    margin: 0 2px;
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s;
}







@media (max-width: 576px) {
    .head {
        flex-direction: column;
    }

    .head_pagename {
        text-align: center;
    }
    nav {
        display: none;
        flex-direction: column;
        margin: 20px 0;
        height: 300px;
    }
    
    .skill_subcon {
        flex-direction: column;
    }
    .content_skill {
        height: fit-content;
    }
    .skill_subcon{
        align-items: center;
    }
    .skill_subcon>div{
        width: 80%;
        margin-top: 20px;
    }
    .skill_subcon>div>a>img {
        max-width: 30%;
    }
    .infoitem {
        flex-direction: column;
        width: 90%;
    }
    .infoitem>img {
        width: 95%;
        margin: 20px 0;
    }
    .contact {
        margin-left: 10px;
        margin-right: 10px;
    }
    .ind {
        left: 35%;
        right: 35%;
    }
    .container-swaper{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.open{
        display: flex;
    }