/*
@media (min-width:992px) and (max-width: 1200px){

}

@media (min-width:768px) and (max-width: 992px){

}

@media (min-width:576px) and (max-width: 768px){

}

@media (min-width:0px) and (max-width: 576px){

}*/
@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

body {
    background: linear-gradient(to right, #F5ED00 70%, #E6DE00 30%);
}

a {
    text-decoration: none;
    color: #262932;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #E6DE00
}

::-webkit-scrollbar-thumb {
    background-color: #0DF0F0;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #E6DE00;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Cyber;
    background: linear-gradient(to right, #F5ED00 70%, #E6DE00 30%);
}

header {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid #262932;
    padding-bottom: 10px;
    padding: 30px;
}

.logo {
    width: 30%;
    font-size: 50pt;
    color: #262932;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    font-size: 50pt;
    color: #EC1313;
}

.logo_text {
    filter: drop-shadow(2px 2px #0DF0F0);
    transition: all .3s;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header_nav_item {
    transition: all .5s;
}

.Header_nav_item a {
    text-decoration: none;
    color: #262932;
    font-size: 16pt;
    text-shadow: 1px 1px #0DF0F0;
}

.Header_nav_item:nth-child(1) a {
    color: #EC1313;
}

.Header_nav_item:hover {
    transform: translateY(-3px);
}

.logo_text:hover {
    color: #EC1313;
}

main {
    display: flex;
}

.container {
    width: 70%;
    padding: 20px;
}

aside {
    width: 30%;
    padding: 20px;
}

.picture {
    text-align: center;
}

.picture img {
    width: 80%;
    border-radius: 5%;
    margin: 0 auto;
}

.name {
    margin-left: 10%;
    text-shadow: 1px 1px #0DF0F0;
    line-height: 30pt;
}

.name p:nth-child(1) {
    font-size: 30pt;
}

.name p:nth-child(2) {
    font-size: 40pt;
}

.name p:nth-child(3) {
    font-size: 45pt;
    line-height: 40pt;
}

.name p:nth-child(4) {
    font-size: 14pt;
    line-height: 17pt;
    text-shadow: none;
    margin-top: 20px;
}

.conme_btn {
    height: 60px;
    width: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-142deg, #EC1313 93%, transparent 7%);
    font-size: 30px;
    position: relative;
    transition: transform 0.5s;
}

.conme_btn::after {
    content: "";
    width: 5px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0DF0F0;
}

.conme_btn:hover {
    transform: translateX(10px);
}

footer {
    border-top: 2px solid #262932;
    display: flex;
    justify-content: space-around;
}

.fitem {
    width: 30%;
}


.logo_footer {
    font-size: 40pt;
    color: #262932;
}

.scroller {
    width: 100%;
    height: 120px;
    border: 2px solid #0DF0F0;
    outline: 2px solid #262932;
    overflow: hidden;
    position: relative;
}

/*
::after {
    content: "";
    border: 20px solid transparent;
    border-bottom: 20px solid #EC1313; 
    border-left: 20px solid #EC1313;
}
*/

.scrol_page {
    width: 100%;
}

.scrol_page img {
    width: 100%;
}

.scroller_text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0DF0F0;
    font-size: 80px;
    animation: 3s linear 1s infinite movtext;
    text-shadow: 2px 2px #EC1313;
}

@keyframes movtext {
    0% {
        left: -65%;
    }

    50% {
        left: 0%;
    }

    100% {
        left: 65%;
    }
}

.newsItem {
    margin: 30px 0;
    padding: 10px;
    display: flex;
    border-bottom: 5px double #0DF0F0;

}

.it1 {
    border-top: 5px double #0DF0F0;
}

.itemImg img {
    max-width: 300px;
    margin-right: 20px;
}

.itemtext {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itemtext h1 {
    text-shadow: 1px 1px #0DF0F0;
    font-size: 25pt;
    padding: 0;
}

.itemtext h3 {
    color: #262932;
    font-size: 12pt;
}

.itemtext p {
    font-size: 14pt;
    margin-top: 20px;
}


.itemtext h4 {
    text-align: end;
    color: #4A0FC6;
    margin-right: 10px;

}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC1313;
    font-size: 25px;
    position: relative;
    margin: 10px;
}

.btn::before {
    content: "";
    border: 8px solid transparent;
    border-bottom: 8px solid #F5ED00;
    border-left: 8px solid #F5ED00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn {
    color: white;
}

.len {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0DF0F0;
}

.visit {
    background-color: #4A0FC6;
}

.load_more_btn {
    text-align: center;
    font-size: 18pt;
    cursor: pointer;
}

.exit {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}