* {
    padding: 0;
    margin: 0;
}

a{
    color: black;
}

body {
    background: url(background.jpg)
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
}

/*    -----header-----       */

  header {
    position: sticky;
    top: 0;
    background-color: white;
    border-radius: 5px;
}

.name {
    font-size: 10px;
    text-align: center;
}

.navig {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: cursive;
    cursor: pointer;
}

.subnav {
    display: none;
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.subnav > .sub {
    padding: 5px 30px   ;
}

.open {
    display: block;
}

/*    -----main------ */ 

main{
    display: flex;
}

/*     -----content------     */

.content {
    flex-basis: 75%;
    padding: 10px;
    margin-top: 20px;
}

section{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;  
}

section > p {
    flex-basis: 70%;
}


/*      ------aside------      */

aside{
    flex-basis: 25%;
    padding: 10px;
}

.asaideitem {
    font-family: cursive;
    font-weight: 1000;
    text-align: center;
}

.social {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 50px;
}

.social > li {
    padding: 5px;
}

.textinput {
    text-align: center;
    width: 90%;
    padding: 5px;
    margin-top: 10px;
}

textarea{
    width: 95%; 
    margin-top: 10px;
    text-align: center;
}

.submitbtn {
    width: 96%;
    background: linear-gradient(to right, red, orange, yellow, green, rgb(3, 209, 255), blue, purple);
    border: transparent;
    padding: 5px;
    border-radius: 10px;
    font-family: cursive;
    margin-top: 10px;
}

.subbtn {
    text-align: end;
    font-size: 10px;
    margin-right: 10%;
    color: gray;
}


footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
