body {
	background-color: black;
}

.add_header {
	text-align: center;
}

.slogan {
	font-size: 40px;
	color: white;
	margin: 50px 0;
}

header {
	position: sticky;
	top: 0;
}

.container {
	background: linear-gradient(to right, orange,  red, pink);
	width: 100%;	
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;
	border-bottom: 1px solid black;
}

nav {
	background-color: rgba(0, 0, 0, 0.2);
	width: 500px;
	height: 100px;
	float: right;
	text-decoration: none;
	border-radius: 5px;
}

.logo {
	float: left;
	margin-left: 100px;
}

.container:after{
	content: "";
	display: table;
	clear: both;
}

.navigation {
	list-style: none;
}

.navigation li {
	display: inline-block;
}

.navigation a{
	margin: 0 10px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	line-height: 60px;
	transition: .2s;
}	

.navigation a:hover {
	color: hotpink;
	text-shadow: 0 0 10px black;
	
}

.navigation a:visited{
	color: pink;
}

.article {
	float: left;
	width: 65%;
}

.sidebar{
	float: right;
	width: 33%;
	padding: 5px;
	border: 1px solid black;
	margin-top: 10px;
}

.tovimg {
	width: 20%;
	float: right;
}

.tovar {
	border: 1px solid black;
	padding: 5px;
	margin-top: 10px;
}

h4{
	text-align: center;
}