* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: black;
}

.calculator {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.result {
    border: 1px solid black;
    margin: 5px 25px;
    padding: 5px;
    font-size: 30px;
    height: 40px;
}

.buttons {
    border: 1px solid transparent;
    margin: 5px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    border: 1px solid black;
    border-radius: 2px;
    flex-basis: 18%;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin: 2px;
    transition: all 0.2s;
}

li:hover {
    background-color: bisque;
}