* {
	margin: 0;
	padding: 0;
}

img {
	width: 50px;
	float: left;
}

div {
	width: 300px;
	position: absolute;
	background: whitesmoke;
	padding: 15px;
	box-shadow: 0 0 10px black;
}

body {
	background-color: orange;
}

.b {
	right: 20px;
	top: 20px;
}

.b {
	right: 20px;
	top: 20px;
}