@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    background-color: #1E252B;
}

.wrapper {
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}

.logo>a>span {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Rajdhani', sans-serif;*/
    color: #DCDDDE;
    letter-spacing: -3px;
}

.logo {
    display: flex;
    align-items: center;
}


.header_nav {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    width: 500px;
    justify-content: space-between;
    font-weight: 600;
}

.header_nav a {
    color: #DCDDDE;
}

.nav-menu {
    display: none;
    width: 70%;
    text-align: start;
    padding-left: 50px;
    color: #DCDDDE;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 20px;
}

.login {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    color: #DCDDDE;
    font-size: 18px;
    width: 200px;
    font-weight: 900;
    justify-content: space-between;
    align-items: center;
}

.login a {
    color: #DCDDDE;
}

.signup_btn {
    padding: 8px 20px;
    background-color: #FF6E30;
    border-radius: 10px;

}

.signup_btn a {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.wellcome {
    display: flex;
    justify-content: space-around;
    height: 700px;
    width: 100%;
}

.w_image {
    text-align: center;
}

.w_image img {
    height: 580px;

}

.w_text {
    flex-shrink: 0;
}

.w_text_g {
    font-family: 'Kanit', sans-serif;
    color: #DCDDDE;
    font-size: 60px;
    margin-top: 100px;
    font-weight: 600;
    line-height: 70px;
}

.w_text_g span {
    color: #FF6E30;
}

.w_text_sub {
    color: #83868A;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 1000;
}

.findbar {
    margin-top: 50px;
    border: 3px solid #353B41;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: #283036;
}

.findbar i {
    color: #83868A;
    font-size: 12px;
    font-weight: 100;
    margin: 30px 15px;

}

.findbar input[type="text"] {
    background-color: transparent;
    border: 0;
    font-size: 15px;
    flex-grow: 4;
    padding: 5px;
}

.findbar input[type="button"] {
    background-color: #FF6E30;
    padding: 18px 40px;
    border: 0;
    margin: 2px 12px;
    border-radius: 15px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 18px;
}

.findbar input[type="text"]:focus {
    color: white;
}

.socializm {
    padding-left: 20px;
    margin-top: 50px;
    letter-spacing: 22px;
    font-size: 35px;
}

.socializm a {
    color: #DCDDDE;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #1E252B;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #1E252B;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF6E30;
}

::-webkit-scrollbar-corner {
    background-color: #1E252B;
}

.bloks_header {
    text-align: center;
    color: #DCDDDE;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
}

.bh_subtext {
    font-size: 20px;
    margin-top: 20px;
    color: #83868A;
}

.bloks_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.bitem {
    width: 28%;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    height: 300px;
    margin-top: 50px;
    font-family: 'Kanit', sans-serif;
}

.bc_h {
    display: flex;
    justify-content: flex-start;
}

.bitem img {
    width: 80px;
    margin-right: 30px;
}

.bc_h {
    color: #DCDDDE;
    font-size: 25px;

}

.bc_h span {
    font-size: 18px;
    color: #9A6C31;
}

.bi_t {
    color: #9A9D9F;
    margin: 40px 0;
}

.likebar {
    color: #9A9D9F;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

.likebar i {
    flex-grow: 1;
}

.likebar span {
    text-align: end;
    flex-grow: 5;
}

.likebar span:hover {
    color: #FF6E30;
    text-shadow: 0 0 2px #9A6C31;
}

.bitem:hover {
    background: linear-gradient(45deg, #1E252B 75%, #ff6e303f);

}

.likebar i:hover {
    color: #FF6E30;
}

.more-btn {
    width: max-content;
    margin: 80px auto;
    padding: 15px 20px;
    text-align: center;
    color: #FF6E30;
    border: 2px solid #353B41;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    cursor: pointer;
    transition: border .5s, box-shadow .8s;
}

.more-btn:hover {
    border: 2px solid #FF6E30;
    box-shadow: 0 0 5px #FF6E30;
}


.trusted {
    margin: 200px auto;
    background: linear-gradient(-45deg, #21282F 85%, #ff6e303f);
    border-radius: 25px;
    padding: 25px;
    width: 95%;
}

.trusted_head {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #DCDDDE;
    text-align: center;
    margin-top: 25px;
}

.trusted_iconbar {
    margin: 50px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: #83868A;
}

.secondbloks {
    display: flex;
    margin: 0 auto;
    width: 95%
}

.sbt {
    width: 50%;
    height: 100%;
    padding-left: 60px;
}

.sbt_head {
    font-family: 'Kanit', sans-serif;
    color: #DCDDDE;
    font-size: 45px;
    padding-top: 80px;
}

.sbt_text {
    font-family: 'Kanit', sans-serif;
    color: #83868A;
    font-size: 18px;
    margin-top: 20px;
}

.sbt_btn {
    background-color: #FF6E30;
    padding: 15px 40px;
    width: max-content;
    margin-top: 60px;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
    color: #DCDDDE;
    font-size: 14px;
}

.sbb_container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.sbitem {
    width: 45%;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    height: 300px;
    margin-top: 50px;
    font-family: 'Kanit', sans-serif;
}

.sbitem img {
    width: 80px;
    margin-right: 30px;
}

.sbitem:hover {
    background: linear-gradient(45deg, #1E252B 75%, #ff6e303f);

}

.noteblock {
    width: 90%;
    height: 500px;
    margin: 100px auto;
    overflow: hidden;
}

.vnoteblock {
    position: relative;
    height: 100%;
    width: 300%;
    display: flex;

}

.nbi {
    width: 33.33333333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbi img {
    height: 80%;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.168));
}

.nbi_note {
    width: 30%;
    margin-left: 30px;
    font-family: 'Kanit', sans-serif;
    color: #DCDDDE;
    font-weight: 100;
}

.nbcon {
    position: relative;
}

.marker {
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: 10px;
    height: 10px;
    display: flex;
    justify-content: space-between;

}

.markeri {
    width: 30%;
    background-color: #283036;
    border-radius: 5px;
    transition: all 0.5s;
}

.feedback {
    width: 50%;
    margin: 200px auto;
    text-align: center;
}

.fb_head {
    color: #DCDDDE;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 20px;
}

.fb_subtext {
    font-family: 'Rajdhani', sans-serif;
    color: #83868A;
    font-weight: 800;
    margin-bottom: 40px;
}

.fb_send {
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283036;
    width: max-content;
    margin: 0 auto;
}

.fb_send input[type="text"] {
    background-color: transparent;
    border: 0;
    font-size: 15px;
    flex-grow: 4;
    padding: 5px;
    margin-left: 10px;
}

.fb_send input[type="button"] {
    background-color: #FF6E30;
    padding: 10px 30px;
    border: 0;
    margin: 5px;
    border-radius: 15px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 18px;

}

.fb_send input[type="text"]:focus {
    color: white;
}

footer {
    border-top: 3px solid #353B41;
    display: flex;
    justify-content: space-around;
}

.fitem {
    margin-top: 30px;
    width: 25%;
    padding-left: 70px;
}

.fitem h1 {
    color: #DCDDDE;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    margin: 10px 0;
}

.fitem p {
    width: 80%;
    color: #83868A;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    margin: 10px 0;
}

.fui1 h1 {
    color: #DCDDDE;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    margin: 10px 0;
}

.fui1 p {
    width: 80%;
    color: #83868A;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    margin: 30px 0;
}

@media (min-width: 992px) and (max-width: 1200px) {

    /*header*/
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 50px;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .login {
        width: 200px;
    }

    /*wellcome*/
    .w_image img {
        display: none;
    }

    .w_text {
        width: 100%;
        text-align: center;
    }

    .findbar {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 762px) and (max-width: 992px) {

    /*header*/
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 50px;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .header_nav {
        position: absolute;
        display: none;
        background-color: #353B41;
        top: 120px;
        left: 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .open {
        display: flex;
    }

    .hn {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .nav-menu {
        display: block;
    }

    .login {
        width: 30%;
    }

    /*wellcome*/
    .w_image img {
        display: none;
    }

    .w_text {
        width: 100%;
        text-align: center;
    }

    .findbar {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .bitem {
        width: 40%;
    }

    .trusted {
        margin: 50px auto;
    }

    .secondbloks {
        flex-direction: column;
    }

    .sbt {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .sbt_btn {
        margin: 30px auto;
    }

    .sbb_container {
        width: 95%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .nbi img {
        display: none;
    }

    .nbi_note {
        width: 60%;
    }

    .noteblock {
        height: 250px;
        margin: 50px auto;
    }

    .feedback {
        margin: 50px auto;
    }

    footer {
        flex-wrap: wrap;
    }

    .fitem {
        width: 50%;
    }

    .fui1 .logo {
        padding-left: 0;
        justify-content: flex-start;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    /*header*/
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 50px;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .header_nav {
        position: absolute;
        display: none;
        background-color: #353B41;
        top: 120px;
        left: 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .open {
        display: flex;
    }

    .hn {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .nav-menu {
        display: block;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .login {
        width: 100%;
        justify-content: space-around;
    }

    /*wellcome*/
    .w_image img {
        display: none;
    }

    .w_text {
        width: 100%;
        text-align: center;
    }

    .findbar {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .bloks_header {
        font-size: 50px;
    }

    .bitem {
        width: 40%;
    }

    .trusted {
        margin: 50px auto;
    }

    .trusted_iconbar {
        flex-wrap: wrap;
    }

    .trusted_iconbar span {
        width: 50%;
        text-align: center;
        padding: 20px;
    }

    .secondbloks {
        flex-direction: column;
    }

    .sbt {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .sbt_btn {
        margin: 30px auto;
    }

    .sbb_container {
        width: 95%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .nbi img {
        display: none;
    }

    .nbi_note {
        width: 60%;
    }

    .noteblock {
        height: 250px;
        margin: 50px auto;
    }

    .feedback {
        margin: 50px auto;
    }

    footer {
        flex-wrap: wrap;
    }

    .fitem {
        width: 50%;
    }

    .fui1 .logo {
        padding-left: 0;
        justify-content: flex-start;
    }
}

@media (min-width: 0px) and (max-width: 576px) {

    /*header*/
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 10px;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .header_nav {
        position: absolute;
        display: none;
        background-color: #353B41;
        top: 120px;
        left: 0;
        width: 100%;
        min-width: 320px;
        flex-wrap: wrap;
    }

    .open {
        display: flex;
    }

    .hn {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .nav-menu {
        display: block;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .login {
        width: 100%;
        justify-content: space-around;
    }

    /*wellcome*/
    .w_image img {
        display: none;
    }

    .w_text {
        width: 100%;
        text-align: center;
    }

    .findbar {
        display: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .bloks_header {
        font-size: 50px;
    }

    .bitem {
        width: 100%;
    }

    .trusted {
        margin: 50px auto;
    }

    .trusted_iconbar {
        flex-wrap: wrap;
    }

    .trusted_iconbar span {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .secondbloks {
        flex-direction: column;
    }

    .sbt {
        text-align: center;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .sbt_btn {
        margin: 30px auto;
    }

    .sbb_container {
        width: 95%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .sbitem {
        width: 100%;
    }

    .nbcon {
        display: none;
    }

    .feedback {
        margin: 50px auto;
        width: 95%
    }

    .fb_send {
        width: 300px
    }

    .fb_send input[type="button"] {
        padding: 5px;
    }

    footer {
        flex-wrap: wrap;
    }

    .fitem {
        width: 100%;
    }

    .fui1 .logo {
        padding-left: 0;
        justify-content: flex-start;
    }

    .signup_btn {
        padding: 0;
        background: none;
    }
}

a:hover {
    color: #ef7b4a;
}

.signup_btn:hover a {
    color: #1E252B;
}