* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:midnightblue;
}

.starbar {
    padding: 3px 8px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: max-content;
    margin: 20px 20px 10px auto;

}

article{
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
}

h1 {
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    width: max-content;
    border-radius: 10px;
}